{% extends 'layout/app.html' %}

{% load static %}
{% block body %}
            <section id="dashboard-analytics">



                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                           <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <div class="avatar bg-rgba-primary p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i class="fa fa-dollar font-medium-5 text-bold-700 text-success"></i>

                                                    </div>
                                                </div>
                                                <div class="user-page-info">
                                                    <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Pinjaman Kredit</h6>

                                                </div>

                                            </div>
                                        </div>
                                   <div class="card-content">
                                    <div class="card-body">

                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-primary"></i>
                                                <span class="text-bold-600 ml-50"> Transaksi Bulan Ini</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23043</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                                <span class="text-bold-600 ml-50">Jml Tagihan Tahun Ini</span>
                                            </div>
                                            <div class="product-result">
                                                <span>14658</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-75">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-danger"></i>
                                                <span class="text-bold-600 ml-50">Sisa Tagihan Tahun Ini
                                                </span>
                                            </div>
                                            <div class="product-result">
                                                <span>4758</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- batas -->
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                                        <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <div class="avatar bg-rgba-primary p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i class="fa fa-table font-medium-5 text-bold-700 text-warning"></i>

                                                    </div>
                                                </div>
                                                <div class="user-page-info">
                                                    <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Simpanan</h6>
                                                    <span class="ml-50 font-small-3">Bulan Oktober</span>
                                                </div>

                                            </div>
                                        </div>
                                   <div class="card-content">
                                    <div class="card-body">

                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">

                                               <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                                <span class="text-bold-600 ml-50"> Simpanan Anggota</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23043</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-dark"></i>
                                                <span class="text-bold-600 ml-50"> Penarikan Tunai</span>
                                            </div>
                                            <div class="product-result">
                                                <span>14658</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-75">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-success"></i>
                                                <span class="text-bold-600 ml-50">Jumlah Simpanan</span>
                                            </div>
                                            <div class="product-result">
                                                <span>4758</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

<!-- batas -->

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                            <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                                            <div class="d-flex justify-content-start align-items-center mb-1">
                                                <div class="avatar bg-rgba-primary p-50 m-0">
                                                    <div class="avatar-content">
                                                        <i class="fa fa-suitcase font-medium-5 text-bold-700 text-primary"></i>

                                                    </div>
                                                </div>
                                                <div class="user-page-info">
                                                    <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Data KAS</h6>
                                                    <span class="ml-50 font-small-3">Bulan Oktober</span>
                                                </div>

                                            </div>
                                        </div>
                                   <div class="card-content">
                                    <div class="card-body">

                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-primary"></i>
                                                <span class="text-bold-600 ml-50"> Debet</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23043</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                                <span class="text-bold-600 ml-50">Kredit</span>
                                            </div>
                                            <div class="product-result">
                                                <span>14658</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-75">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-danger"></i>
                                                <span class="text-bold-600 ml-50">Jumlah
                                                </span>
                                            </div>
                                            <div class="product-result">
                                                <span>4758</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



<!-- ////////batas row -->


                    <div class="row">

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                    <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="fa fa-suitcase font-medium-5 text-bold-700 text-primary"></i>
                                </div>
                            </div>
                            <div class="user-page-info">
                                <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Data Anggota</h6>

                            </div>
                        </div>
                    </div>


                           <div class="card-content">
                                <div class="card-body">
                                    <div class="chart-info d-flex justify-content-between mb-1">
                                        <div class="series-info d-flex align-items-center">
                                            <i class="fa fa-circle-o text-bold-700 text-primary"></i>
                                            <span class="text-bold-600 ml-50">Anggota Aktif</span>
                                        </div>
                                        <div class="product-result">
                                            <span>23043</span>
                                        </div>
                                    </div>
                                    <div class="chart-info d-flex justify-content-between mb-1">
                                        <div class="series-info d-flex align-items-center">
                                            <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                            <span class="text-bold-600 ml-50"> Anggota Tidak Aktif</span>
                                        </div>
                                        <div class="product-result">
                                            <span>14658</span>
                                        </div>
                                    </div>
                                    <div class="chart-info d-flex justify-content-between mb-75">
                                        <div class="series-info d-flex align-items-center">
                                            <i class="fa fa-circle-o text-bold-700 text-danger"></i>
                                            <span class="text-bold-600 ml-50"> Jumlah Anggota
                                            </span>
                                        </div>
                                        <div class="product-result">
                                            <span>4758</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">
                  <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                    <i class="fa fa-user font-medium-5 text-bold-700 text-danger"></i>
                                </div>
                            </div>
                            <div class="user-page-info">
                                <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Data Peminjam</h6>

                            </div>
                        </div>
                    </div>
                                   <div class="card-content">
                                    <div class="card-body">

                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-primary"></i>
                                                <span class="text-bold-600 ml-50 text-success"> Peminjam</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23043</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                                <span class="text-bold-600 ml-50">Sudah Lunas</span>
                                            </div>
                                            <div class="product-result">
                                                <span>14658</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-75">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-danger"></i>
                                                <span class="text-bold-600 ml-50">Belum Lunas
                                                </span>
                                            </div>
                                            <div class="product-result">
                                                <span>4758</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="card">


      <div class="card-header d-flex flex-column align-items-start pb-0 border-bottom">
                        <div class="d-flex justify-content-start align-items-center mb-1">
                            <div class="avatar bg-rgba-primary p-50 m-0">
                                <div class="avatar-content">
                                 <i class="feather icon-users text-success font-medium-5"></i>
                                </div>
                            </div>
                            <div class="user-page-info">
                                <h6 class="font-medium-5 text-bold-600 ml-50 mb-0 text-success">Data User</h6>

                            </div>
                        </div>
                    </div>



                                   <div class="card-content">
                                    <div class="card-body">

                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-primary"></i>
                                                <span class="text-bold-600 ml-50"> User Aktif</span>
                                            </div>
                                            <div class="product-result">
                                                <span>23043</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-1">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-warning"></i>
                                                <span class="text-bold-600 ml-50">User Non aktif</span>
                                            </div>
                                            <div class="product-result">
                                                <span>14658</span>
                                            </div>
                                        </div>
                                        <div class="chart-info d-flex justify-content-between mb-75">
                                            <div class="series-info d-flex align-items-center">
                                                <i class="fa fa-circle-o text-bold-700 text-danger"></i>
                                                <span class="text-bold-600 ml-50">Jumlah User
                                                </span>
                                            </div>
                                            <div class="product-result">
                                                <span>4758</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

<!-- ///////////////// -->

                </section>
{% endblock %}
{% block javascript %}
{% endblock %}